<div *ngIf="config?.htmlStructure">
  <ng-container *ngFor="let element of config.htmlStructure">
    <ng-container [ngTemplateOutlet]="renderElement" [ngTemplateOutletContext]="{element: element, item: null}">
    </ng-container>
  </ng-container>
</div>

<!-- Generic Modal inside the same component -->
<div *ngIf="isModalVisible" class="modal-overlay" [id]="modalId">
  <div class="modal-content">
    <h3>{{ modalTitle | titlecase}}</h3>

    <div *ngFor="let element of modalContent">
      <ng-container [ngTemplateOutlet]="renderElement" [ngTemplateOutletContext]="{ element: element, item: null }">
      </ng-container>
    </div>

    <div class="modal-footer">
      <button *ngIf="modalActions.close" type="button" class="btn btn-success" (click)="closeModal()">
        {{ modalActions.close?.text || 'Close' }}
      </button>
      <button *ngIf="modalActions.submit" type="button" class="btn btn-primary" (click)="handleSubmit()">
        {{ modalActions.submit?.text || 'Submit' }}
      </button>
    </div>
  </div>
</div>

<ng-template #renderElement let-element="element" let-item="item">
  <ng-container [ngSwitch]="element?.element">

    <!-- div -->
    <div *ngSwitchCase="'div'" [ngClass]="element.class">
      <ng-container *ngIf="element.repeat; else noRepeatBlock">
        <ng-container *ngFor="let repeatedItem of getRepeatData(element.repeat)">
          <ng-container *ngFor="let child of element.children">
            <ng-container [ngTemplateOutlet]="renderElement"
                          [ngTemplateOutletContext]="{ element: child, item: repeatedItem }">
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #noRepeatBlock>
        <ng-container *ngFor="let child of element.children">
          <ng-container [ngTemplateOutlet]="renderElement"
                        [ngTemplateOutletContext]="{ element: child, item: item }">
          </ng-container>
        </ng-container>
      </ng-template>
    </div>

    <!-- Text Elements -->
    <h1 *ngSwitchCase="'h1'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</h1>
    <h2 *ngSwitchCase="'h2'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</h2>
    <h3 *ngSwitchCase="'h3'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</h3>
    <h4 *ngSwitchCase="'h4'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</h4>
    <h5 *ngSwitchCase="'h5'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</h5>
    <h6 *ngSwitchCase="'h6'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</h6>
    <p *ngSwitchCase="'p'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</p>
    <span *ngSwitchCase="'span'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</span>
    <label *ngSwitchCase="'label'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</label>
    <blockquote *ngSwitchCase="'blockquote'" [ngClass]="element.class">{{ interpolate(element.text, item) }}</blockquote>

    <!-- Button -->
    <button *ngSwitchCase="'button'" [ngClass]="element.class" (click)="handleAction(element.action)">
      {{ interpolate(element.text, item) }}
    </button>

    <!-- Link -->
    <a *ngSwitchCase="'a'" [href]="element.href" [ngClass]="element.class">{{ interpolate(element.text, item) }}</a>

    <!-- Form Elements -->
    <input *ngSwitchCase="'input'" [type]="element.type" [placeholder]="element.placeholder"
           [(ngModel)]="formData[element.name]" [ngClass]="element.class" />

    <textarea *ngSwitchCase="'textarea'" [placeholder]="element.placeholder"
              [(ngModel)]="formData[element.name]" [ngClass]="element.class"></textarea>

    <select *ngSwitchCase="'select'" [(ngModel)]="formData[element.name]" [ngClass]="element.class">
      <option *ngFor="let option of element.options" [value]="option.value">{{ option.label }}</option>
    </select>

    <!-- Radio Group -->
    <div *ngSwitchCase="'radio-group'" class="form-group">
      <label>{{ interpolate(element.label, item) }}</label>
      <div *ngFor="let option of element.options" class="form-check">
        <input type="radio" [name]="element.name" [value]="option.value"
               [checked]="formData[element.name] === option.value"
               (change)="onRadioChange(element.name, option.value)" class="form-check-input" />
        <label class="form-check-label">{{ option.label }}</label>
      </div>
    </div>

    <!-- Checkbox -->
    <div *ngSwitchCase="'checkbox'" class="form-check">
      <input type="checkbox" [checked]="isChecked(formData[element.name])"
             (change)="onCheckboxChange($event, element.name, element.format)"
             [ngClass]="element.class" />
      <label class="form-check-label">{{ interpolate(element.label, item) }}</label>
    </div>

    <!-- List -->
    <ul *ngSwitchCase="'ul'" [ngClass]="element.class">
      <li *ngFor="let li of element.items">{{ interpolate(li, item) }}</li>
    </ul>
    <ol *ngSwitchCase="'ol'" [ngClass]="element.class">
      <li *ngFor="let li of element.items">{{ interpolate(li, item) }}</li>
    </ol>

    <!-- Charts -->
    <div *ngSwitchCase="'chart'" [ngClass]="element.class">
      <canvas *ngIf="element.type === 'bar'" baseChart [datasets]="element.data.datasets"
              [labels]="element.data.labels" [options]="element.options" [chartType]="'bar'"></canvas>
      <canvas *ngIf="element.type === 'line'" baseChart [datasets]="element.data.datasets"
              [labels]="element.data.labels" [options]="element.options" [chartType]="'line'"></canvas>
      <canvas *ngIf="element.type === 'pie'" baseChart [datasets]="element.data.datasets"
              [labels]="element.data.labels" [options]="element.options" [chartType]="'pie'"></canvas>
    </div>

    <!-- Table -->
    <table *ngSwitchCase="'table'" [ngClass]="element.class">
      <thead>
        <tr>
          <th *ngFor="let header of element.children[0]?.children[0]?.children">
            {{ interpolate(header.text, item) }}
          </th>
        </tr>
      </thead>
      <tbody *ngIf="element.children[1]?.repeat">
        <tr *ngFor="let rowItem of getRepeatData(element.children[1].repeat)">
          <ng-container *ngFor="let row of element.children[1].children">
            <td *ngFor="let cell of row.children">
              {{ interpolate(cell.text, rowItem) }}
            </td>
          </ng-container>
        </tr>
      </tbody>
      <tbody *ngIf="!element.children[1]?.repeat">
        <tr *ngFor="let row of element.children[1]?.children">
          <td *ngFor="let cell of row.children">
            {{ interpolate(cell.text, item) }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Fallback -->
    <ng-container *ngSwitchDefault>
      <span>Unsupported Element</span>
    </ng-container>
  </ng-container>
</ng-template>